QWidget
{
	background: #c0c0c0;
}

/* --------------------------------------------------------------------
	Push button
	-------------------------------------------------------------------- */
	
QPushButton
{
	border-width: 3px;
	border-image: url(":/Resources/Style/Assets/Box.png") 3 3 3 3;
	color: #000000;
	background-color: transparent;
}

QPushButton:disabled
{
	color: #606060;
}

QPushButton:pressed, QPushButton:checked
{
	border-image: url(":/Resources/Style/Assets/Button-Pressed.png") 3 3 3 3;
}

/* --------------------------------------------------------------------
	Check box
	-------------------------------------------------------------------- */
QCheckBox, QGroupBox::indicator
{
	min-width: 16px;
	min-height: 16px;
}

QCheckBox::indicator:unchecked, QGroupBox::indicator:unchecked
{
	image: url(":/Resources/Style/Assets/Checkbox-Unchecked.png");
}

QCheckBox::indicator:checked, QGroupBox::indicator:checked
{
	image: url(":/Resources/Style/Assets/Checkbox-Checked.png");
}

QCheckBox::indicator:indeterminate, QGroupBox::indicator:indeterminate
{
	image: url(":/Resources/Style/Assets/Checkbox-Mixed.png");
}

QCheckBox::indicator:disabled:unchecked, QGroupBox::indicator:disabled:unchecked
{
	image: url(":/Resources/Style/Assets/Checkbox-Unchecked-Disabled.png");
}

QCheckBox::indicator:disabled:checked, QGroupBox::indicator:disabled:checked
{
	image: url(":/Resources/Style/Assets/Checkbox-Checked-Disabled.png");
}

QCheckBox::indicator:disabled:indeterminate, QGroupBox::indicator:disabled:indeterminate
{
	image: url(":/Resources/Style/Assets/Checkbox-Mixed-Disabled.png");
}

/* --------------------------------------------------------------------
	Radio button
	-------------------------------------------------------------------- */
QRadioButton
{
	min-width: 16px;
	min-height: 16px;
}

QRadioButton::indicator:checked
{
	image: url(":/Resources/Style/Assets/Radio-Selected.png");
}

QRadioButton::indicator:unchecked
{
	image: url(":/Resources/Style/Assets/Radio-Unselected.png");
}

QRadioButton::indicator:indeterminate
{
	image: url(":/Resources/Style/Assets/Radio-Mixed.png");
}

QRadioButton::indicator:disabled:unchecked
{
	image: url(":/Resources/Style/Assets/Radio-Unselected-Disabled.png");
}

QRadioButton::indicator:disabled:checked
{
	image: url(":/Resources/Style/Assets/Radio-Selected-Disabled.png");
}

QRadioButton::indicator:disabled:indeterminate
{
	image: url(":/Resources/Style/Assets/Radio-Mixed-Disabled.png");
}

/* --------------------------------------------------------------------
	Slider
	-------------------------------------------------------------------- */

QSlider::groove:horizontal
{
	background-image: url(":/Resources/Style/Assets/Handle-h.png");
	background-repeat: repeat-x;
	background-position: center center;
}

QSlider::groove:vertical
{
	background-image: url(":/Resources/Style/Assets/Handle-v.png");
	background-repeat: repeat-y;
	background-position: center center;
}

QSlider::handle:horizontal
{
	border: 2px solid #000000;
	border-image: url(":/Resources/Style/Assets/Box.png") 2 2 2 2;
	height: 24px;
	width: 10px;
}

QSlider::handle:vertical
{
	border: 2px solid #000000;
	border-image: url(":/Resources/Style/Assets/Scrollbar-Button.png") 2 2 2 2;
	height: 10px;
	width: 24px;
}

/* --------------------------------------------------------------------
	Combo box
	-------------------------------------------------------------------- */
/*QComboBox
{
	background-color: #c0c0c0;
}*/

QComboBox:editable
{
	color: #000000;
	border-image: url(":/Resources/Style/Assets/TextField.png") 2 2 2 2;
	border: 2px solid #000000;
	border-radius: 0px;
}

QComboBox::drop-down
{
	border-width: 3px;
	border-image: url(":/Resources/Style/Assets/Box.png") 3 3 3 3;
	color: #000000;
	background-color: transparent;
	/*padding: 1px;
	padding-left: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	min-width: 16px;
	min-height: 15px;*/
}

QComboBox::drop-down:pressed
{
	border-image: url(":/Resources/Style/Assets/Button-Pressed.png") 3 3 3 3;
}

QComboBox::down-arrow
{
	margin-bottom: -1px;
	min-width: 16px;
	min-height: 16px;
	image: url(":/Resources/Style/Assets/Arrow-Down.png");
}

QComboBox::down-arrow:disabled
{
	image: url(":/Resources/Style/Assets/Arrow-Down-Disabled.png");
}

/* --------------------------------------------------------------------
	Spin box
	-------------------------------------------------------------------- */
	
QSpinBox, QAbstractSpinBox
{
	border: 2px solid #000000;
	border-image: url(":/Resources/Style/Assets/TextField.png") 2 2 2 2;
	border-radius: 0px;
}

QSpinBox::up-button, QSpinBox::down-button, QAbstractSpinBox::up-button, QAbstractSpinBox::down-button
{
	border: 3px solid #000000;
	border-image: url(":/Resources/Style/Assets/Dialog-Button.png") 3 3 3 3;
}

QSpinBox::up-button:pressed, QSpinBox::down-button:pressed, QAbstractSpinBox::up-button:pressed, QAbstractSpinBox::down-button:pressed
{
	border-image: url(":/Resources/Style/Assets/Button-Pressed.png");
}

QSpinBox::down-arrow, QAbstractSpinBox::down-arrow
{
	image: url(":/Resources/Style/Assets/Arrow-Down.png");
}

QSpinBox::up-arrow, QAbstractSpinBox::up-arrow
{
	image: url(":/Resources/Style/Assets/Arrow-Up.png");
}

/* --------------------------------------------------------------------
	Menu
	-------------------------------------------------------------------- */
	
QMenu, QListView, QComboBox QAbstractItemView
{
	padding: 0px;
	border: 1px solid #000000;
	background-color: #c0c0c0;
	color: #000000;
	selection-background-color: #000080;
	border-image: url(":/Resources/Style/Assets/Box.png") 2 2 2 2;
}

QMenu::separator, QListView::separator, QComboBox::separator, QComboBox QAbstractItemView::separator
{
	padding: 3px;
	margin-left: -5px;
	margin-right: -5px;
	border: none;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 1px solid transparent;
	border-bottom: 2px solid transparent;
	background-image: url(":/Resources/Style/Assets/Handle-h.png");
	background-repeat: repeat-x;
	background-position: center center;
}

QMenu::item
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

QMenu::icon
{
	padding-left: 10px;
}

QListView::item:selected, QMenu::item:selected, QComboBox::item:selected
{
	background-color: #000080;
	color: #ffffff;
}

QMenu::menu-arrow, QToolButton::menu-arrow
{
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: 10px;*/
	min-height: 10px;
	min-width: 10px;
}

QMenu::indicator
{
	padding-left: 10px;
}

QMenu::indicator:checked
{
	image: url(":/Resources/Style/Assets/Check.png");
}

QMenuBar
{
	padding-top: 1px;
}

QMenuBar::item
{
	color: #000000;
}

QMenuBar::item:pressed
{
	color: #ffffff;
	background-color: #000080;
}

QMenu[startMenu = "true"]
{
	border: none;
	background-color: #c0c0c0;
	color: #000000;
	selection-background-color: #000080;
	border-image: none;
}

/* --------------------------------------------------------------------
	Text entry (Text edit, line edit)
	-------------------------------------------------------------------- */
	
QTextEdit, QLineEdit
{
	min-width: 20px;
	min-height: 16px;
	color: #000000;
	border: 2px solid #000000;
	border-image: url(":/Resources/Style/Assets/TextField.png") 2 2 2 2;
	border-radius: 0px;
}

QTextEdit[iconTitle = "true"]
{
	min-width: 20px;
	min-height: 16px;
	padding-left: 2px;
	padding-right: 2px;
	color: #ffffff;
	border: 0;
	border-image: none;
}

/* --------------------------------------------------------------------
	Group box (frame)
	-------------------------------------------------------------------- */
	
QGroupBox
{
	border: 1px solid #000000;
	border-image: url(":/Resources/Style/Assets/Frame.png") 1 1 1 1;
	border-radius: 0;
	padding: 4px;
	margin-top: 3px;
	margin: 10px;
}

QGroupBox::title
{
	background-color: #c0c0c0;
	bottom: 8px;
	left: 8px;
}

/* --------------------------------------------------------------------
	Progress bar
	-------------------------------------------------------------------- */
	
QProgressBar
{
	padding: 2px;
	background-color: #c0c0c0;
	border: 1px solid #000000;
	border-image: url(":/Resources/Style/Assets/Frame-Inset.png") 3 3 3 3;
	color: #ffffff;
	text-align: center;
}

QProgressBar:vertical
{
	min-width: 14px;
}

QProgressBar:horizontal
{
	min-height: 14px;
}

QProgressBar::chunk:horizontal
{
	margin: 3px;
	padding: 9px 1px 9px 1px;
	width: 10px;
	min-height: 1px;
	margin: -11px 0px -11px 0px;
	background-color: #000080;
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0
}

QProgressBar::chunk:vertical
{
	margin: 3px;
	padding: 1px 7px 1px 7px;
	min-width: 1px;
	height: 10px;
	margin: 0px -11px 0px -11px;
	background-color: #000080;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

/* --------------------------------------------------------------------
	Scroll bar
	-------------------------------------------------------------------- */
	
QScrollBar
{
	background-image: url(":/Resources/Style/Assets/DottedPattern.png");
	/*background-size: 4px;*/
}

QScrollBar:horizontal
{
	padding: 0px 14px 0 14px;
}

QScrollBar:vertical
{
	padding: 14px 0px 14px 0px;
}

QScrollBar::handle
{
	background-color: #c0c0c0;
	border: 2px solid #000000;
	border-image: url(":/Resources/Style/Assets/Scrollbar-Button.png") 2 2 2 2;
	min-width: 16px;
	min-height: 16px;
}

QScrollBar::add-line, QScrollBar::sub-line
{
	background-image: url(":/Resources/Style/Assets/Scrollbar-Button.png");
	background-position: center;
	background-repeat: no-repeat;
}

QScrollBar::add-line:disabled, QScrollBar::sub-line:disabled
{
	background-image: url(":/Resources/Style/Assets/Scrollbar-Button-Disabled.png");
}

QScrollBar::add-line:horizontal
{
	background-image: url(":/Resources/Style/Assets/Button-Right.png");
}

QScrollBar::add-line:horizontal:pressed
{
	background-image: url(":/Resources/Style/Assets/Button-Right-Active.png");
}

QScrollBar::add-line:horizontal:disabled
{
	background-image: url(":/Resources/Style/Assets/Button-Right-Disabled.png");
}

QScrollBar::sub-line:horizontal
{
	background-image: url(":/Resources/Style/Assets/Button-Left.png");
}

QScrollBar::sub-line:horizontal:pressed
{
	background-image: url(":/Resources/Style/Assets/Button-Left-Active.png");
}

QScrollBar::sub-line:horizontal:disabled
{
	background-image: url(":/Resources/Style/Assets/Button-Left-Disabled.png");
}

QScrollBar::add-line:vertical
{
	background-image: url(":/Resources/Style/Assets/Button-Down.png");
}

QScrollBar::add-line:vertical:pressed
{
	background-image: url(":/Resources/Style/Assets/Button-Down-Active.png");
}

QScrollBar::add-line:vertical:disabled
{
	background-image: url(":/Resources/Style/Assets/Button-Down-Disabled.png");
}

QScrollBar::sub-line:vertical
{
	background-image: url(":/Resources/Style/Assets/Button-Up.png");
}

QScrollBar::sub-line:vertical:pressed
{
	background-image: url(":/Resources/Style/Assets/Button-Up-Active.png");
}

QScrollBar::sub-line:vertical:disabled
{
	background-image: url(":/Resources/Style/Assets/Button-Up-Disabled.png");
}

/* --------------------------------------------------------------------
	Tabs
	-------------------------------------------------------------------- */
	
QTabBar::tab:top
{
	border-width: 5px 5px 2px 5px;
	border-image: url(":/Resources/Style/Assets/Tab-Top.png");
	border-image-slice: 5 5 2 5;
}

QTabBar::tab:bottom
{
	border-width: 2px 5px 5px 5px;
	border-image: url(":/Resources/Style/Assets/Tab-Bottom.png");
	border-image-slice: 2 5 5 5;
}

QTabBar::tab:right
{
	border-width: 4px 8px 6px 0px;
	border-image: url(":/Resources/Style/Assets/Tab-Right.png");
	border-image-slice: 4 8 6 0;
}

QTabBar::tab:left
{
	border-width: 4px 0 6px 8px;
	border-image: url(":/Resources/Style/Assets/Tab-Left.png");
	border-image-slice: 4 0 6 8;
}

QTabBar::tab:top:selected
{
	border-image: url(":/Resources/Style/Assets/Tab-Top-Open.png");
	border-image-slice: 2 5 5 5;
}

QTabBar::tab:bottom:selected
{
	border-image: url(":/Resources/Style/Assets/Tab-Bottom-Open.png");
	border-image-slice: 2 5 5 5;
}

QTabBar::tab:right:selected
{
	border-image: url(":/Resources/Style/Assets/Tab-Right-Open.png");
	border-image-slice: 4 8 6 0;
}

QTabBar::tab:left:selected
{
	border-image: url(":/Resources/Style/Assets/Tab-Left-Open.png");
	border-image-slice: 4 0 6 8; 
}

QTabBar::close-button
{
	margin-bottom: -2px;
	background-image: url(":/Resources/Style/Assets/Close.png");
	background-position: center;
	background-repeat: no-repeat;
}

QTabBar::close-button:pressed
{
	background-image: url(":/Resources/Style/Assets/Close-Pressed.png");
}

/* --------------------------------------------------------------------
	Frame
	-------------------------------------------------------------------- */

QFrame[outset = "true"]
{
	border: 3px solid #000000;
	border-image: url(":/Resources/Style/Assets/Frame-Outset.png") 3 3 3 3;
	border-radius: 0;
}

QFrame[inset = "true"]
{
	border: 3px solid #000000;
	border-image: url(":/Resources/Style/Assets/Frame-Inset.png") 3 3 3 3;
	border-radius: 0;
}

/* --------------------------------------------------------------------
	Label
	-------------------------------------------------------------------- */

QLabel
{
	color: #000000;
}

/* --------------------------------------------------------------------
	Toolbar
	-------------------------------------------------------------------- */

QToolBar
{
	border: 2px solid #000000;
	border-image: url(":/Resources/Style/Assets/Frame-Simple.png") 2 2 2 2;
	border-radius: 0;
}

QToolBar QToolButton
{
	color: #000000;
}

/* --------------------------------------------------------------------
	Size grip
	-------------------------------------------------------------------- */

QSizeGrip
{
	background-color: transparent;
}

/* --------------------------------------------------------------------
	Status bar
	-------------------------------------------------------------------- */

QStatusBar
{
	border: 3px solid #000000;
	border-image: url(":/Resources/Style/Assets/Frame-Inset.png") 3 3 3 3;
	border-radius: 0;
}

QStatusBar QWidget
{
	margin-left: 3px;
	margin-right: 3px;
}

QStatusBar QSizeGrip
{
	margin: 0px;
	border: 1px solid green;
}

QStatusBar::item
{
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 3px solid #000000;
	border-image: url(":/Resources/Style/Assets/Frame-Ridge.png") 3 3 3 3;
	border-radius: 0;
}
